.custom-tooltip {
    color: white;
    background-color: #FF0000;
    padding: 10px;
  }
  

  .activity h2 {
    width: 200px;
    position: absolute;
    left: 280px;
    transform: translate(-50%, -50%);
    z-index: 5;
    size: 15px;
    line-height: 24px;
  }