

.profil {
    display: flex;
  }
  
  .profil-row {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .profil-row_int {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .profil-column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  