

.profil {
    display: flex;
    margin-top: 80px;
  }
  
  .profil-row {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 30px;
  }

  .profil-row_int {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .profil-column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  
  @media screen and (max-width: 1025px) {
    .profil {
      display: flex;
      flex-direction: column-reverse;
    }

    .profil-column {
      flex-direction:row;
      justify-content: space-around;
      width: 100%;
    }
    .profil-row {
      width: 100%;
    }

  }
